*{margin:0 auto;font:18px 宋体;color:black;padding:0;}
#tu{width:1200px;}
#p1{width:1200px;height:100px;}
#a1{width:800px;float:left;padding-top:auto;}
#a2{padding-top:30px;border:line-height:30px;float:right;}
.b{width:200px;float:left;}
.a{background-color:blue;color:white;float:left;}
#p2{width:1200px;border:0.5px solid blue;}
#b1{width:1200px;}
.nav{float:left;padding:30px;list-style:none;}
 a:link{text-decoration:none;}
.nav:hover{background-color:blue;}
#b2 img{width:700px;height:400px;float:left;}
#b3{width:500px;float:left;}
.y a{color:red;}
.f{margin:15px;}
.f a:hover{text-decoration:underline;}
#p3{clear:both;width:1200px;height:40px;border:0.5px solid blue;}
#c1{width:200px;float:left;}
#c2{width:800px;float:left;}
span{float:right;}
#c3{width:200px;float:left;text-align:center;padding-top:10px;}
#p4{width:800px;margin-left:0;clear:both;margin-top:10px;}
#d1{width:790px;background:url(../图片/tit_t.png);background-repeat:no-repeat;}
#d2{width:790px;height:40px;clear:both;}
.g{float:left;font-size:20px;font-weight:bold;margin: auto 30px ;}
 #d3{width:395px;margin-left:0;float:left;overflow:auto;}
 .w{margin: 20px ;}
 .w a:hover{text-decoration:underline;color:green;}
 #d4{width:395px;float:left;overflow:auto;}
#p5{width:800px;margin-left:0;margin-top:10px;clear:both;}
#e1{width:790px;background:url(../图片/tit_t.png);background-repeat:no-repeat;}
#e2{width:790px;height:40px;clear:both;}
.g{float:left;font-size:20px;font-weight:bold;margin: auto 30px ;}
 #e3{width:395px;margin-left:0;float:left;}
 #e4{width:395px;float:left;float:left;}
.t{width:390px;float:right;margin:20px 0;}
.k{width:390px;height:80px;}